@page {
  margin: 0mm;
  size: var(--og-page-width) var(--og-page-height);
}

@media print {
  body > *:not(#magazine) {
    display: none;
  }

  #magazine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
